@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --main_color: white;
    --sec_color: black;

    --font_color: black;
    --sec_font_color: white;

    --border_color: black;
    --font_hover: #17b978;
    --icon_hover: #492fa7;
    --font_family: 'Roboto Mono', sans-serif;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

h1,h2,h3,h4,h5,h6,p,small,a,hr {
    color: var(--font_color);
}


body {
    font-family: var(--font_family);
    color: var(--font_color); 
    line-height: 1;
    background-color: var(--main_color);
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--font_color);
}

h1, h2 {
    font-weight: 300;
    line-height: 1;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* NAVBAR */

.navbar {
    height: 330px;
}

.navbar .switch {
    display: flex;
    align-items: center
}
nav {
    width:100%;
}

.navbar ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar li {

    font-weight: 400;
    font-size: 24px;
    border: 2px solid var(--border_color);
    padding: 8px 13px;
    background-color: var(--main_color);
    color: var(--font_color);
    transition: .3s;
    border-radius: 50px;

}


.navbar li:hover {
    background-color: var(--sec_color);
    color: var(--sec_font_color);
}


/* -------------- TOGGLE -------------- */

.switch {
    position: relative;
    bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.toggle_checkbox {
    justify-self:flex-start;
	opacity: 0;
	position: absolute;
}

.toggle_label {
	background-color: var(--sec_color);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}


.toggle_label .toggle_ball {
	background-color: var(--main_color);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.toggle_checkbox:checked + .toggle_label .toggle_ball {
	transform: translateX(24px);
}

/* MAIN SECTION */

.personal {
    height: 650px;
    position: relative;
}

/* MAIN SECTION - INFO LAYOUT */


.info_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "a b"
        "c c"
    ;
    padding: 5px;
    font-weight: 400;
}

.my_img {
    grid-area: "a";
}

.my_info {
    grid-area: "b";
}

.my_info #extra_height{
    line-height: 1.5;
}

.my_journey {
    grid-area: "c";
    grid-column: span 2;
}

.social_icons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 42px;
}
.social_icons i {
    margin: 0 5px;
    transition: 0.3s;
}

.social_icons i:hover {
    color: var(--icon_hover);
    margin: 0 5px;
}

/* MAIN SECTION - LANGUAGES LAYOUT */

.languages_layout {
    display: grid;
    grid-template-rows: 50px 1fr 1fr 100px ;
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
    ;
    padding: 5px;
}

.languages_layout .title {
    text-align: center;
}

.lang {
    display:flex;
}

.languages_layout .links {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.links img {
    height:50px;
    width:120px;
}

/* PROJECTS SECTION */

.projects {
    height: 490px;
}

.projects h3 {
    font-size: 28px;
    text-align: center;
}

.projects .grid-3 {
    width: 100%;
    padding: 30px;
    gap: 50px;
}

.grid-card {
    display:grid;
    grid-template-rows: 1fr 110px 30px ;
    border: 1px solid var(--border_color);
}

.grid-card .description {
    padding: 0 5px;
}

.description p {
    line-height: 1;
    font-size: 16px;
    padding:0;
    margin:0;
}

.description a{
    color:red
}

.grid-card .tags {
    padding: 0 5px;
}

/* CONTACT SECTION */

.contact {
    height: 600px;
    position: relative;

}

.contact h3 {
    font-size: 28px;
    text-align: center;
}

.contact p{
    text-align: center;
}

.contact-form {
    width: 100%;
    height: 100%;
    padding: 60px;
}

.contact-form .form-control {
    margin: 15px 0;
}
.contact-form input[type='text'],
.contact-form input[type='email'] {
    border:0;
    border-bottom: 1px solid var(--border_color);
    width: 100%;
    height: 40px;
    padding: 4px 10px;
    background-color: var(--main_color);
    font-family: var(--font_family);
    color: var(--font_color);
}

.form-control .textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: var(--main_color);
    color: var(--font_color);
    resize:none;
  }

input:focus {
    outline: none;
    color: var(--font_color);
}

/*NEW FORM*/

.new_form {
    margin: 50px 0;
}

/*PAGINATION*/

.step-links a {
    color:red;
}

/* Utilities */
.container {
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.grid {
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    overflow: hidden;
    padding: 30px;
}

.grid-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--main_color);
    color: var(--font_color);
    border: none;
    border-radius: 5px;
    font-family: var(--font_family);
}

.btn-primary{
    background: var(--main_color);
    color: var(--font_color);
    border: 1px solid var(--border_color);
    transition: .3s;
}

.btn-primary:hover{
    background: var(--font_hover);
    color: var(--main_color);
    border: 1px solid rgba(0,0,0,0)
}

/* Tablets and under */
@media (max-width: 1024px) {
    body p {
        font-size: 24px;
    }

    .personal .lang {
        margin-bottom: 20px;
    }

    .projects {
        height: auto;
        margin-top: 20px;
    }

    .projects p {
        font-size:22px;
    }

    .projects .tags {
        font-size:28px;
    }
    /* NAVBAR */
    .navbar {
        height: 250px;
    }
    
    .navbar h2 {
        font-size: 28px;
        position: relative;
        top: 10px;
    }

    .navbar .switch {
        display: flex;
        flex-direction: column;
    }

    .navbar li{
        font-size: 24px;
        white-space: nowrap;

    }
    
    /*modifica el portfolio TODO: revisar.*/
    /*se repite en el 768*/
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

  
    .personal {
      height: auto;
    }

    
    .info_layout{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .languages_layout .title {
        font-size: 28px;
    }

    .languages_layout .links {
        padding: 0 60px;
        border: 2px dashed var(--border_color);
    }
 

    .my_journey {
        grid-area: "c";
        grid-column: span 2;
        border: 1px solid var(--border_color);
        padding: 5px;
    }

    .my_journey p {
        line-height: 1.5;
    }

    .contact p {
        font-weight: 400;
        font-size: 11px;
        color: gray
    }

  }

@media (max-width: 768px) {

    .grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .projects {
        height: auto;
    }

    /* NAVBAR */
    .navbar {
        height: 220px;
    }
    .navbar h2 {
        font-size: 18px;
    }
    
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

  
    .personal {
      height: auto;
    }
 

    .my_journey {
        grid-area: "c";
        grid-column: span 2;
        border: 1px solid var(--border_color);
        padding: 5px;
    }

    .my_journey p {
        line-height: 1.5;
    }

    .contact p {
        font-weight: 400;
        font-size: 11px;
        color: gray
    }
    
    .info_layout{
        grid-template-areas: 
            "a"
            "b"
            "c"
        ;
    }

    /* MY JOURNEY */
    .container {
        padding: 25px;
    }
    .my_journey {
        grid-area: "c";
        grid-column: span 1;
        border: 1px solid var(--border_color);
        padding: 5px;
    }

    .description p {
        line-height: 1.1;
        font-size: 19px;
    }

    .languages_layout .links {
        border: 1px dashed var(--border_color);
        padding: 5px;
    }

    .languages_layout .links p{ 
        font-size: 14px;
    }
    .contact-form {
        padding: 10px;
    }

    .projects .container {
        padding: 0;
    }

    .languages_layout .links {
        padding: 0 60px;
    }


  }

@media (max-width: 650px) {    

    .navbar {
    height: 220px;
    padding: 10px
    }

    .navbar li{
        font-size: 10px;
        white-space: nowrap;
    }

    /* MY JOURNEY */
    .container {
        padding: 10px;
    }
    .my_journey p{
        font-weight: 300;
        font-size: 18px;
    }

    .description p {
        font-size: 16px;
    }
    .languages_layout 

    .languages_layout .links p{ 
        font-size: 16px;
    }
    .languages_layout .links {
        padding: 0 14px;
        margin: 0 20px;
    }
    .grid-card .tags {
        font-size: 14px;
    }
}



  @media (max-width: 400px) {
    .container {
        padding:0;
    }
    .info_layout p {
        font-size: 12px;
    }
    

      .personal .links p {
          font-size: 8px;
      }

      .personal .links {
          margin: 20px 0;
      }

      .grid-card p {
          font-size: 14px;
      }
      .grid-card .tags {
          font-size: 10px;
      }
      .navbar li{
        font-size:8px;
      }
    }

    @media (max-width: 330px) {
        .grid-card p {
            font-size: 13px;
        }
        .navbar li{
          font-size:6px;
        }
    }