{% extends 'frontend/base.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
{% endblock %}

{% block title %} Late Night Blog - {{post.title}} - by Amilkar Munoz{% endblock title %}


{% block body %}
{% include 'frontend/navbar.html' %}
<section class="blog">
    <div class="container blog_drig">
        <div class="blog_left_column">
            <div class="post_cover">
                <img src="{{ post.thumbnail.url }}" alt="">
                <div class="title">
                    <h1>{{post.title.title}}</h1>
                    <h5>escrito por <a href="{% url 'frontend:index' %}">{{post.author.first_name}}
                            {{post.author.last_name}}</a>. Publicado:
                        {{post.publish|date:'M d, Y'}}</h5>
                </div>
            </div>
            <div class="post_body">
                <p>{{post.body|safe}}</p>
            </div>
        </div>
        <div class="blog_right_column">
            <div class="sidebar">
                <div class="recent_posts">
                    <h3>Posts más vistos&#128293;</h3>
                    {% for most_visited in most_visited %}
                    <a href="{{most_visited.get_absolute_url}}">
                        <div class="sidebar_post">
                            <p>{{most_visited.title.title}}</p>
                            <p>{{most_visited.publish|date:'M d, Y'}}</p>
                            <small>{{most_visited.tags.all|join:', '}}</small>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="hottest_topics">
                    <h3>Post similares&#11088;</h3>
                    {% for similar_post in similar_posts %}
                    <a href="{{similar_post.get_absolute_url}}">
                        <div class="sidebar_post">
                            <p>{{similar_post.title.title}}</p>
                            <p>{{similar_post.publish|date:'M d, Y'}}</p>
                            <small>{{similar_post.tags.all|join:', '}}</small>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="hottest_topics">
                    <h3>Main Topics&#127769;</h3>
                    {% for tag in most_tags %}
                    <a href="{% url 'blog:posts_by_tag' tag.slug %}">
                        <div class="sidebar_post">
                            <p>{{tag.name.title}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}