{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="ico" href="{% static '/frontend/images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
    {% block custom_css %}
    <!--CUSTOM CSS FOR EACH DIFFERENT APP-->
    {% endblock %}

    <link id="theme-style" type="text/css" rel="stylesheet" href="">

    <!--BOX ICONS-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- highlight.js CDN-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

    <!--TITLE-->
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% block body %}
    <!--BODY-->
    {% endblock body %}
    <script type="text/javascript">
        let static = "{% static 'frontend/css' %}"
    </script>
    <script type="text/javascript" src="{% static 'frontend/js/main.js' %}"></script>
</body>

</html>