{% extends 'frontend/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Amilkar Munoz - Jr. Full Stack Developer{% endblock title %}


{% block body %}
<!--NAVBAR-->
{% include 'frontend/navbar.html' %}

<section class="personal">
    <div class="container grid">
        <div class="info_layout grid">
            <div class="my_img">
                <img src="{%static 'frontend/images/profile_pic.png'%}" alt="">
            </div>
            <div class="my_info">
                <h4>Personal Info</h4>
                <hr>
                <p>Name: Amilkar Munoz</p>
                <p>Made in: Costa Rica</p>
                <p>Manufactured in: 1994</p>
                <p>Core Tool: Python 3</p>
                <p id="extra_height">Biggest Dream: Take a selfie with George Hotz.</p>
                <div class="social_icons">
                    <h6>Connect with me</h6>
                    <a target="_blank" href="https://www.github.com/soloamilkar"><i class='bx bxl-github'></i></a>
                    <a target="_blank" href="https://www.twitter.com/soloamilkar"><i class='bx bxl-twitter'></i></a>
                    <a target="_blank" href="https://www.instagram.com/soloamilkar"><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
            <div class="my_journey">
                <small style="font-size:10px;">This is a div, class="my_journey". Inpect
                    my code, all feedback is welcome :)</small>

                <hr>
                <p>Hello world :) I was not sure about to what actually write in here. I was thinking to
                    deliver a picture of myself not being this guy that only sits in front of the computer
                    all-day-long trying to figuring out how to crack the CODE!!! But the truth is that I'm
                    that guy.
                    Since I discovered coding (august/2020) I haven't been able to stop. </p>
                <br>
                <p><strong>That being said:</strong> I'm a self-taught software-developer apprentice
                    from Costa Rica aiming to master back end technologies, looking for my own coding style, trying
                    to mix my own experiences with
                    the art of coding. Always hungry for learning new technologies. <a href="#">read +</a></p>
            </div>
        </div>
        <div class="languages_layout">
            <div class="title">
                <h3>MY STACK ♥</h3>
            </div>
            <div class="lang">
                <div class="lang_img">
                    <img src="{%static 'frontend/images/logos/python_logo-100.jpg'%}" alt="">
                </div>
                <div class="lang_img">
                    <img src="{%static 'frontend/images/logos/django_logo-100.jpg'%}" alt="">
                </div>
                <div class="lang_img">
                    <img src="{%static 'frontend/images/logos/postgres_logo-100.jpg'%}" alt="">
                </div>
            </div>
            <div class="lang">
                <div class="lang_img">
                    <img src="{%static 'frontend/images/logos/html_logo-100.jpg'%}" alt="">
                </div>
                <div class="lang_img">
                    <img src="{%static 'frontend/images/logos/css_logo-100.jpg'%}" alt="">
                </div>
                <div class="lang_img">
                    <img src="{%static 'frontend/images/logos/js_logo-100.jpg'%}" alt="">
                </div>
            </div>
            <div class="links">
                <p>Check us out →</p>
                <a target="_blank"
                    href="https://amilkarmediafiles.s3-us-west-2.amazonaws.com/education/Resume2021.pdf"><img
                        src="{%static 'frontend/images/links/ver_curriculum-100.jpg'%}" alt=""></a>
                <a target="_blank"
                    href="https://amilkarmediafiles.s3-us-west-2.amazonaws.com/education/ucr_python_I.pdf"><img
                        src="{%static 'frontend/images/links/ucr_logo-100.jpg'%}" alt=""></a>
            </div>
        </div>
    </div>
</section>
{% include 'frontend/projects.html' %}
<section class="contact">
    <div class="container flex">
        <div class="contact-form">
            <h3>CONTACT</h3>
            <p>Déjame un mensaje para saber que estuviste por aquí! Será un gusto leerte. :)</p>
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <!--1 form control div f/e input
                        and add the margindesired-->
                    <div class="form-control">
                        {% render_field form.name placeholder="Nombre" %}
                    </div>
                    <div class="form-control">
                        {% render_field form.email placeholder="Email" %}
                    </div>
                    <div class="form-control">
                        {% render_field form.subject placeholder="Título" %}
                    </div>
                    <div class="form-control">
                        {% render_field form.message rows="10" placeholder="Título" class="textarea" %}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock body %}