{% load static %}
<section class="navbar">
    <div class="container flex-column">
        <div class="switch">
            <div class="toggle_section">
                <input type="checkbox" class="toggle_checkbox" id="check" />
                <label class="toggle_label" for="check">
                    <div class="toggle_ball"></div>
                </label>
            </div>
            <h2>Amilkar Munoz - Jr Full Stack Developer from Costa Rica</h2>
        </div>
        <nav>
            <ul>
                <a href="{% url 'frontend:index' %}">
                    <li>HOME</li>
                </a>
                <a href="{% url 'blog:posts_by_tag' 'portfolio' %}">
                    <li>PORTFOLIO</li>
                </a>
                <a href="{% url 'frontend:contact' %}">
                    <li>CONTACT</li>
                </a>
                <a href="{% url 'blog:index' %}">
                    <li>BLOG</li>
                </a>
                <a href="#">
                    <li>WHAT'S NEXT</li>
                </a>
            </ul>
        </nav>
    </div>
</section>