{% load static %}
<section class="projects">
    <div class="container flex-column">
        <h3>PORTFOLIO</h3>
        <div class="grid grid-3">
            <div class="grid-card">
                <div class="picture">
                    <a href="https://www.amilkar.dev/blog/2021/2/4/my-portfolio-website/"> <img
                            src="{%static 'frontend/images/projects/project_portfolio-100.jpg'%}" alt=""></a>
                </div>
                <div class="description p-5">
                    <p>Dentro de mi portfolio encontramos este website, este mismísimo website
                        en el que estás navegando ahora mismo.
                        Twitee todo el proceso, por si te interesa <a
                            href="https://www.amilkar.dev/blog/2021/2/4/my-portfolio-website/">leer +</a>
                    </p>
                </div>
                <div class="tags p-3">
                    Python - Django - HTML - CCS
                </div>
            </div>
            <div class="grid-card">

                <div class="picture">
                    <a href="https://www.amilkar.dev/blog/2021/2/6/readability-app/"> <img
                            src="{%static 'frontend/images/projects/readability-100.jpg'%}" alt=""></a>
                </div>
                <div class="description">
                    <p>En este proyecto desarrollamos un programa para evaluar la lecturalibilidad de un texto
                        basándonos en la fórmula
                        Coleman-Liau. <a href="https://www.amilkar.dev/blog/2021/2/4/my-portfolio-website/">Leer +</a>
                    </p>
                </div>
                <div class="tags">
                    C, computer science, cs50

                </div>
            </div>
            <div class="grid-card">
                <div class="picture">
                    <a href="#"> <img src="{%static 'frontend/images/projects/google replica-100.jpg'%}" alt=""></a>
                </div>
                <div class="description">
                    <p>Como parte de la currícula de CS50x Web Programming, repliqué el
                        homepage de Google, añadiendo sus principales funcionalidades tales como "I'm Feeling Lucky" y
                        "Advance Search". <a href="#">Leer +</a>
                    </p>
                </div>
                <div class="tags">
                    HTML, CSS
                </div>
            </div>
        </div>
    </div>
</section>